@font-face {
    font-family: shadows;
    src: 
        url("Fonts/ShadowsIntoLightTwo-Regular.woff2") format("woff2"),
        url("Fonts/ShadowsIntoLightTwo-Regular.woff") format("woff");
}

:root {
    --dark-black: #212121;
    --dark-grey: #323232;
    --dark-turqoise: #0D7377;
    --turqoise: #14FFEC;
    --grey-turqoise: #29d6c8;
    --dirty-white: #EDEDED;
    --neon-pink: #FF2E63;
    --grey: #424242;
    --light-red: #CF6679;
    --size-8: 8px;
    --size-16: 16px;
    --size-18: 18px;
    --size-24: 24px;
    --size-36: 36px;
    --size-300: 300px;
}

* {
    margin: 0;
    padding: 0;
    font-family: shadows, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    margin: 0 var(--size-16);
    color: var(--dirty-white);
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--size-16);
    background-color: var(--dark-black);
}

footer {
    padding: var(--size-18);
    background-color: #323232;
    text-align: center;
}

footer p {
    color: var(--dirty-white);
    font-size: var(--size-18);
    font-weight: bold;
}

dialog {
    margin: auto;
}

.mode-dialog[open] {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: var(--size-300);
    width: var(--size-300);
    border-radius: 25% 10%;
}

.mode-dialog p,
.two-pl-dialog p {
    font-size: var(--size-24);
    font-weight: bold;
}

.mode-dialog form {
    width: 80%;
    display: flex;
    justify-content: space-around;
}

.mode-dialog form button:nth-child(n),
.two-pl-dialog form button {
    border: 2px solid var(--dark-turqoise);
    background-color: var(--turqoise);
    padding: var(--size-16);
    font-weight: 600;
    width: 40%;
}

.mode-dialog form button:nth-child(1) {
    border-radius: 10% 25%;
    display: flex;
    justify-content: space-evenly;
}

.mode-dialog form button:nth-child(2),
.two-pl-dialog form button {
    border-radius: 25% 10%;
}

.mode-dialog form button:nth-child(n):hover,
.two-pl-dialog form button:hover {
    background-color: var(--grey-turqoise);
    transition: 0.2s;
    cursor: pointer;
}

.two-pl-dialog[open] {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: var(--size-300);
    width: var(--size-300);
    border-radius: 10% 25%;
}

.two-pl-dialog form {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: var(--size-24);
}

.two-pl-dialog form div {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.two-pl-dialog form label {
    font-weight: 600;
    margin-bottom: var(--size-8);
}

.two-pl-dialog form .btns-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.two-pl-dialog form .cancel-btn {
    color: var(--neon-pink);
}

.two-pl-dialog form input {
    font-weight: 600;
    font-size: var(--size-16);
}

.robo {
    height: var(--size-16);
    width: var(--size-16);
}

.icon {
    height: var(--size-36);
    width: var(--size-36);
    fill: var(--dirty-white);
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(2px);
}
