@font-face {
    font-family: shadows;
    src: 
        url("Fonts/ShadowsIntoLightTwo-Regular.woff2") format("woff2"),
        url("Fonts/ShadowsIntoLightTwo-Regular.woff") format("woff");
}

:root {
    --dark-black: #212121;
    --dark-grey: #323232;
    --dark-turqoise: #0D7377;
    --turqoise: #14FFEC;
    --grey-turqoise: #29d6c8;
    --dirty-white: #EDEDED;
    --grey-white: #d6d6d6;
    --neon-pink: #FF2E63;
    --grey: #424242;
    --light-red: #CF6679;
    --size-6: 6px;
    --size-8: 8px;
    --size-10: 10px;
    --size-12: 12px;
    --size-16: 16px;
    --size-18: 18px;
    --size-24: 24px;
    --size-32: 32px;
    --size-36: 36px;
    --size-48: 48px;
    --size-300: 300px;
    --size-400: 400px;
    --size-500: 500px;
}

* {
    margin: 0;
    padding: 0;
    font-family: shadows, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    margin: 0 var(--size-16);
    color: var(--dirty-white);
    font-size: var(--size-24);
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--size-18);
    background-color: var(--dark-black);
}

footer {
    padding: var(--size-16);
    background-color: #323232;
    text-align: center;
}

footer p {
    color: var(--dirty-white);
    font-size: var(--size-16);
    font-weight: bold;
}

dialog {
    margin: auto;
    background-color: var(--dirty-white);
}

dialog[open] {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

main {
    flex-grow: 1;
    background-color: var(--dark-turqoise);
    display: flex;
}

.display {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
}

.display .score-board {
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.display .score-board div {
    height: 30%;
    border: 2px solid var(--dark-black);
    background-color: var(--dirty-white);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.display .score-board.left div {
    border-radius: 0 25%;
}

.display .score-board.right div {
    border-radius: 25% 0;
}

.display .center {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: var(--size-24);
}

.display .center p {
    text-align: center;
    font-size: var(--size-32);
    font-weight: bold;
    color: var(--dirty-white);
}

.display .center .table-board {
    border: var(--size-8) solid var(--dark-grey);
    border-radius: var(--size-10);
    width: 100%;
    max-width: var(--size-500);
    aspect-ratio: 1 / 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: var(--dark-grey);
    gap: var(--size-12);
    box-shadow: var(--size-6) var(--size-6) var(--size-8) var(--size-8) var(--grey-turqoise);
}

.center .table-board .cell {
    border-radius: var(--size-10);
    background-color: var(--dirty-white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.center .table-board #mark {
    width: 90%;
    height: 90%;
    border-radius: 50%;
}

.center .table-board #mark:hover {
    cursor: pointer;
    border: 1px solid var(--grey);
    background-color: var(--grey-white);
}

.mode-dialog[open] {
    height: var(--size-300);
    width: var(--size-300);
    border-radius: 25% 10%;
}

.mode-dialog p,
.two-pl-dialog p,
.display .score-board p {
    font-size: var(--size-24);
    font-weight: bold;
}

.mode-dialog form {
    width: 80%;
    display: flex;
    justify-content: space-around;
}

.mode-dialog form button:nth-child(n),
.two-pl-dialog form button {
    border: 2px solid var(--dark-turqoise);
    background-color: var(--turqoise);
    padding: var(--size-16);
    font-weight: 600;
    width: 40%;
}

.mode-dialog form button:nth-child(1) {
    border-radius: 10% 25%;
    display: flex;
    justify-content: space-evenly;
}

.mode-dialog form button:nth-child(2),
.two-pl-dialog form button {
    border-radius: 25% 10%;
}

.mode-dialog form button:nth-child(n):hover,
.two-pl-dialog form button:hover,
.win-dialog form button:hover {
    background-color: var(--grey-turqoise);
    transition: 0.2s;
    cursor: pointer;
}

.two-pl-dialog[open] {
    height: var(--size-300);
    width: var(--size-300);
    border-radius: 10% 25%;
}

.two-pl-dialog form {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: var(--size-24);
}   

.two-pl-dialog form div {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.two-pl-dialog form label {
    font-weight: 600;
    margin-bottom: var(--size-8);
}

.two-pl-dialog form .btns-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.two-pl-dialog form .cancel-btn {
    color: var(--neon-pink);
}

.two-pl-dialog form input {
    font-weight: 600;
    font-size: var(--size-16);
}

.win-dialog[open] {
    height: var(--size-400);
    width: var(--size-400);
    border-radius: 25%;
}

.win-dialog p {
    font-weight: bold;
    font-size: var(--size-24);
}

.win-dialog form {
    display: flex;
    gap: var(--size-16);
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.win-dialog form button {
    padding: var(--size-24);
    font-size: var(--size-18);
    border-radius: 10%;
    width: 40%;
    border: 2px solid var(--dark-turqoise);
    background-color: var(--turqoise);
}

.robo {
    height: var(--size-16);
    width: var(--size-16);
}

.icon {
    height: var(--size-36);
    width: var(--size-36);
    fill: var(--dirty-white);
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(2px);
}
